vendor
wp
wp-config.php

wp-content/*

wp-content/themes/*
!wp-content/themes/hello-elementor-child

wp-content/plugins/*
!wp-content/plugins/cz-elements

wp-content/languages/*

wp-content/upgrade/*

wp-content/uploads/*
